#image {
  transform: rotate(180deg);
}
#images,
#image {
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
button:focus {
  border: none;
  outline: none;
}
